@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  background: gray;
  display: flex;
  justify-content: center;
  margin-top: 300px; 
}

.box1{
 padding-right: 100px;
}

.box2{
  padding-right: 100px;
}
.box3{
  padding-right: 100px; 
}
